@model ResourceMarketDemo.Models.ResourceMarketIndexView
@using ResourceMarketDemo.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Resource Market</h2>

<div class="form-horizontal" style="margin-bottom:20px">
    @using (Html.BeginForm("Index", "ResourceMarket", FormMethod.Get))
    {
        <h4>Change Market</h4>
        <div class="form-group">
            <label class="control-label col-md-2">Working Currency:</label>
            <label style="text-align:left; padding-top:7px" class="col-md-1">@Model.WorkingCurrency.ToString()</label>
            <div style="padding-top:7px" class="col-md-1">
                @Html.DropDownList("WorkingCurrency", Enum.GetValues(typeof(CurrencyType)).Cast<CurrencyType>().Select(x => new SelectListItem { Text = x.ToString(), Value = ((int)x).ToString(), Selected = Model.WorkingCurrency == x }))
            </div>
            <label class="control-label col-md-2" style="display:block; clear:left">Working Resource:</label>
            <label style="text-align:left; padding-top:7px" class="col-md-1">@Model.WorkingResource.ToString()</label>
            @Html.HiddenFor(m => m.WorkingResource)
        </div>
        <div class="form-group">
            <div class="col-md-offset-2" style="float:left; height:10px"></div>
            <div class="col-md-offset-1" style="float:left; height:10px"></div>
            <div class="col-md-1" style="float:left">
                <input type="submit" class="form-control button" style="float:right" value="Update" />
            </div>
        </div>
    }
</div>
<hr style="clear:left" />
<br />
@if (!ViewData.ModelState.IsValid)
{
    @Html.ValidationSummary("Validation Errors!", htmlAttributes: new { style = "color:red" })
}
<br />

<div style="display:inline; float:left; margin-bottom:20px;">
    <div class="table-label">
        Recent Resource Sales
    </div>
    <table>
        <thead>
            <tr>
                <th>Transaction Time</th>
                <th>@Model.WorkingResource.ToString()</th>
                <th>Sale<br />Currency</th>
                <th>Cost/@Model.WorkingResource.ToString()</th>
                <th>Total<br />Cost</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@DateTime.Now</td>
                <td>900</td>
                <td>@CurrencyType.Gold.ToString()</td>
                <td>9.9</td>
                <td>8,910</td>
            </tr>
            @for (int i = 0; i < Model.RecentResourceSales.Length; i++)
            {
                ResourceSale rs = Model.RecentResourceSales[i];
            <tr>
                <td>@rs.SaleTime.ToString()</td>
                <td>@rs.ResourceAmount.ToString()</td>
                <td>@rs.CurrencyType.ToString()</td>
                <td>@((rs.TotalCostAmount / rs.ResourceAmount).ToString())</td>
                <td>@rs.TotalCostAmount.ToString()</td>
            </tr>
            }
        </tbody>
    </table>
</div>
<div style="display:inline; float:left; margin-bottom:20px; margin-left:20px">
    <div class="table-label">
        My Recent Transactions
    </div>
    <table>
        <thead>
            <tr>
                <th>Transaction Time</th>
                <th>Res.<br />Type</th>
                <th>Resources</th>
                <th>Currency<br />Type</th>
                <th>Cost/res.</th>
                <th>Total<br />Cost</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@DateTime.Now</td>
                <td>@ResourceType.Fish.ToString()</td>
                <td>50</td>
                <td>@CurrencyType.DragonPoints.ToString()</td>
                <td>9.9</td>
                <td>495</td>
            </tr>
            @for (int i = 0; i < Model.MyRecentTransactions.Length; i++)
            {
                ResourceSale rs = Model.MyRecentTransactions[i];
            <tr>
                <td>@rs.SaleTime.ToString()</td>
                <td>@rs.ResourceType.ToString()</td>
                <td>@rs.ResourceAmount.ToString()</td>
                <td>@rs.CurrencyType.ToString()</td>
                <td>@((rs.TotalCostAmount / rs.ResourceAmount).ToString())</td>
                <td>@rs.TotalCostAmount.ToString()</td>
            </tr>
            }
        </tbody>
    </table>
</div>
<hr style="clear:both; display:block; margin-bottom:30px;" />

<div style="display:inline; float:left;margin-bottom:30px;">
    <div class="table-label">Current Purchase Orders</div>
    <table>
        <thead>
            <tr>
                <th>Resources</th>
                <th>PO<br />Currency</th>
                <th>Exchange<br />Rate*</th>
                <th>@Model.WorkingCurrency.ToString()/res.</th>
                <th>Total<br />Cost</th>
                <th />
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>875</td>
                <td>Dragon Points</td>
                <td>0.00091</td>
                <td>1.2</td>
                <td>900</td>
                <td>@Html.ActionLink("delete", "DeletePurchaseOrder", new { PurchaseOrderNumber = 10 })</td>
            </tr>
            @for (int i = 0; i < Model.CurrentPurchaseOrders.Length; i++)
            {
                ResourceMarketIndexView.ConvertedOrder co = Model.CurrentPurchaseOrders[i];
            <tr>
                <td>@co.RemainingResourceAmount.ToString()</td>
                <td>@co.OriginalCurrency.ToString()</td>
                <td>@co.ExchangeRate</td>
                <td>@co.CostEach</td>
                <td>@co.TotalCost.ToString()</td>
                <td>@(co.UserIsOwner ? Html.ActionLink("delete", "DeletePurchaseOrder", new { PurchaseOrderNumber = co.ID }) : null)</td>
            </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" style="text-align:right">
                    <form action="InstantSell" method="POST">
                        <input type="hidden" name="ResourceType" value="@Model.WorkingResource.ToString()" />
                        <input type="hidden" name="CurrencyType" value="@Model.WorkingCurrency.ToString()" />
                        Instant Sell:
                        <input type="number" name="ResourceAmount" class="" />
                        <input type="submit" value="Sell Now" class="form-control button" />
                    </form>
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    @using (Html.BeginForm("CreatePurchaseOrder", "ResourceMarket", FormMethod.Post))
                    {
                        <input type="hidden" name="ResourceType" value="@Model.WorkingResource.ToString()" />
                        <input type="hidden" name="CurrencyType" value="@Model.WorkingCurrency.ToString()" />
                        <div style="font-weight:700">Create Purchase Order</div>
                        <input type="submit" value="Create PO" style="float:right; margin-left: 4px; margin-top: 6px;" class="form-control button" />
                        <div style="float:right; padding-left: 4px; padding-right: 4px">
                            Total<br />
                            <input type="text" value="*JavaScript Calculated*" />
                        </div>
                        <div style="float:right; padding-left: 4px; padding-right: 4px">
                            @Model.WorkingCurrency.ToString()/@Model.WorkingResource.ToString()<br />
                            <input type="text" name="CurrencyPerResource" class="" />
                        </div>
                        <div style="float:right; padding-left: 4px; padding-right: 4px">
                            @Model.WorkingResource.ToString()<br />
                            <input type="number" name="ResourceRequestAmount" class="" />
                        </div>
                    }
                </td>
            </tr>
            <tr style="border-bottom:none">
                <td colspan="5" style="text-align:left; border-bottom:none">
                    *The Currency Exchange Rate to convert a PO into <br />
                    &nbsp;&nbsp;your working currency includes the 15% fee for <br />
                    &nbsp;&nbsp;exchanging currency directly in game.
                    
                </td>
            </tr>
        </tfoot>
    </table>
</div>

<div style="display:inline; float:left; margin-left:30px; margin-bottom:30px;">
    <div class="table-label">Current Sale Orders</div>
    <table>
        <thead>
            <tr>
                <th>Resources</th>
                <th>SO<br />Currency</th>
                <th>Exchange<br />Rate*</th>
                <th>@Model.WorkingCurrency.ToString()/res.</th>
                <th>Total<br />Cost</th>
                <th />
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>875</td>
                <td>Dragon Points</td>
                <td>0.00091</td>
                <td>1.2</td>
                <td>900</td>
                <td>@Html.ActionLink("delete", "DeleteSaleOrder", new { SaleOrderNumber = 10 })</td>
            </tr>
            @for (int i = 0; i < Model.CurrentSaleOrders.Length; i++)
            {
                ResourceMarketIndexView.ConvertedOrder co = Model.CurrentSaleOrders[i];
                <tr>
                    <td>@co.RemainingResourceAmount.ToString()</td>
                    <td>@co.OriginalCurrency.ToString()</td>
                    <td>@co.ExchangeRate</td>
                    <td>@co.CostEach</td>
                    <td>@co.TotalCost.ToString()</td>
                    <td>@(co.UserIsOwner ? Html.ActionLink("delete", "DeleteSaleOrder", new { SaleOrderNumber = co.ID }) : null)</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" style="text-align:right">
                    <form action="InstantBuy" method="POST">
                        <input type="hidden" name="ResourceType" value="@Model.WorkingResource.ToString()" />
                        <input type="hidden" name="CurrencyType" value="@Model.WorkingCurrency.ToString()" />
                        Instant Buy:
                        <input type="number" name="ResourceAmount" class="" />
                        <input type="submit" value="Buy Now" class="form-control button" />
                    </form>
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <form action="CreateSaleOrder" method="post">
                        <input type="hidden" name="ResourceType" value="@Model.WorkingResource.ToString()" />
                        <input type="hidden" name="CurrencyType" value="@Model.WorkingCurrency.ToString()" />
                        <div style="font-weight:700">Create Sale Order</div>
                        <input type="submit" value="Create SO" style="float:right; margin-left: 4px; margin-top: 6px;" class="form-control button" />
                        <div style="float:right; padding-left: 4px; padding-right: 4px">
                            Total<br />
                            <input type="text" value="*java-calc*" />
                        </div>
                        <div style="float:right; padding-left: 4px; padding-right: 4px">
                            @Model.WorkingCurrency.ToString()/@Model.WorkingResource.ToString()<br />
                            <input type="text" name="CurrencyPerResource" class="" />
                        </div>
                        <div style="float:right; padding-left: 4px; padding-right: 4px">
                            @Model.WorkingResource.ToString()<br />
                            <input type="number" name="ResourceSellAmount" class="" />
                        </div>
                    </form>
                </td>
            </tr>
            <tr style="border-bottom:none">
                <td colspan="5" style="text-align:left; border-bottom:none">
                    *The Currency Exchange Rate to convert a PO into <br />
                    &nbsp;&nbsp;your working currency includes the 15% fee for <br />
                    &nbsp;&nbsp;exchanging currency directly in game.

                </td>
            </tr>
        </tfoot>
    </table>
</div>
<div style="clear:both; display:block; height:1px;" />
